*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#080808;
    color:white;
}


/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111;
    position:sticky;
    top:0;
    z-index:1000;
}


.logo{
    font-size:32px;
    font-weight:800;
    letter-spacing:2px;
    color:#00aaff;
}


.logo span{
    color:white;
}


nav{
    display:flex;
}


nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:16px;
}


nav a:hover{
    color:#00aaff;
}


/* Mobile Menu Button */

.menu-btn{
    display:none;
    font-size:30px;
    cursor:pointer;
}



/* Hero */

.hero{
    text-align:center;
    padding:80px 20px;
}


.hero h1{
    font-size:45px;
    margin-bottom:15px;
}


.hero p{
    color:#aaa;
    font-size:20px;
    margin-bottom:30px;
}


input{
    width:80%;
    max-width:500px;
    padding:15px;
    border-radius:30px;
    border:none;
    outline:none;
    font-size:16px;
}



/* Cards */

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    padding:40px 8%;
}


.card{
    background:#151515;
    width:300px;
    padding:30px;
    text-align:center;
    border-radius:15px;
    border:1px solid #222;
    transition:.3s;
}


.card:hover{
    transform:translateY(-10px);
    border-color:#00aaff;
}


.card h2{
    margin-bottom:15px;
}


.card p{
    color:#aaa;
    margin-bottom:20px;
}



/* Buttons */

button{
    background:#00aaff;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:30px;
    cursor:pointer;
    font-size:15px;
}


button:hover{
    background:#0088cc;
}


a{
    text-decoration:none;
}



/* Footer */

footer{
    text-align:center;
    background:#111;
    padding:25px;
    color:#aaa;
    margin-top:50px;
}



/* Game */

.game{
    display:flex;
    justify-content:center;
}



/* Mobile Responsive */

@media(max-width:768px){


header{
    flex-direction:column;
    gap:15px;
}


.menu-btn{
    display:block;
}


nav{
    display:none;
    flex-direction:column;
    width:100%;
    text-align:center;
    background:#111;
    padding:20px;
}


nav.active{
    display:flex;
}


nav a{
    margin:10px;
}


.hero h1{
    font-size:32px;
}


.cards{
    padding:20px;
}


.card{
    width:100%;
}

}
